include README.md LICENSE pybind11/LICENSE doc/*.py
exclude LICENSE-3RD-PARTY EXTRA_LICENSES
graft pybind11/include
graft pybind11/tools
recursive-include source *
global-include CMakeLists.txt *.cmake
