[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "cmake>=3.12",
    "ninja; sys_platform != 'win32'",
    "pybind11-stubgen @ git+https://github.com/HaarigerHarald/pybind11-stubgen#egg=pybind11-stubgen",
]
build-backend = "setuptools.build_meta"
